apiVersion: apps/v1
kind: Deployment
metadata:
  name: contoso-air
  labels:
    app.kubernetes.io/name: contoso-air
    kubernetes.azure.com/generator: devhub
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: contoso-air
  template:
    metadata:
      labels:
        app.kubernetes.io/name: contoso-air
        azure.workload.identity/use: "true"
    spec:
      serviceAccountName: sc-account-82b95518-41f5-4d9f-9b14-0f8eac16cc84
      containers:
        - name: contoso-air
          image: contoso-air:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "0.5"
              memory: "0.5Gi"
            limits:
              cpu: "1"
              memory: "1Gi"
          envFrom:
            - configMapRef:
                name: contoso-air-config
            - secretRef:
                name: secret-ref
                optional: true
            - secretRef:
                name: sc-openai-secret
          livenessProbe:
            tcpSocket:
              port: 3000
          readinessProbe:
            tcpSocket:
              port: 3000
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 1
            successThreshold: 1
            initialDelaySeconds: 3
          startupProbe:
            tcpSocket:
              port: 3000
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
            successThreshold: 1
            initialDelaySeconds: 0
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL
              add:
                - SETPCAP
                - MKNOD
                - AUDIT_WRITE
                - CHOWN
                - DAC_OVERRIDE
                - FOWNER
                - FSETID
                - KILL
                - SETGID
                - SETUID
                - NET_BIND_SERVICE
                - SYS_CHROOT
                - SETFCAP
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: contoso-air
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: contoso-air
