apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- configmap.yaml
- deployment.yaml
- hpa.yaml
- pdb.yaml
- service.yaml
images:
- name: contoso-air
  newName: acrignitedlab59.azurecr.io/contoso-air
  newTag: db1
