div.footer
  div.container
    div.row.menu
      div.col-12.col-sm-4.footer--col--1
        h4!= __('Footer.About.Title')
        ul
          li: a(href='#')!= __('Footer.About.Link_1')
          li: a(href='#')!= __('Footer.About.Link_2')
          li: a(href='#')!= __('Footer.About.Link_3')
          li: a(href='#')!= __('Footer.About.Link_4')
          li: a(href='#')!= __('Footer.About.Link_5')
          li: a(href='#')!= __('Footer.About.Link_6')
      div.col-12.col-sm-4.footer--col--2
        h4!= __('Footer.Customer.Title')
        ul
          li: a(href='#')!= __('Footer.Customer.Link_1')
          li: a(href='#')!= __('Footer.Customer.Link_2')
          li: a(href='#')!= __('Footer.Customer.Link_3')
          li: a(href='#')!= __('Footer.Customer.Link_4')
          li: a(href='#')!= __('Footer.Customer.Link_5')
          li: a(href='#')!= __('Footer.Customer.Link_6')
          li: a(href='#')!= __('Footer.Customer.Link_7')
      div.col-12.col-sm-4.footer--col--3
        h4!= __('Footer.Products.Title')
        ul
          li: a(href='#')!= __('Footer.Products.Link_1')
          li: a(href='#')!= __('Footer.Products.Link_2')
          li: a(href='#')!= __('Footer.Products.Link_3')
          li: a(href='#')!= __('Footer.Products.Link_4')
          li: a(href='#')!= __('Footer.Products.Link_5')
          li: a(href='#')!= __('Footer.Products.Link_6')
    p.footer-copyright!= __('Footer.Copyright')