<section class="book-simple">
  <div class="container">
    <header class="book-simple-header">
      <h1>Book a trip</h1>
      <p>Choose your route, dates and passengers to see available flights.</p>
    </header>
    <div class="book-simple-form">
      {{> book/form form}}
    </div>
  </div>
</section>