doctype html
html
  head
    link(rel='icon', type='image/x-icon', href='/assets/favicon.ico')
    title!= __('Title')
    link(rel='stylesheet', href='/css/main.css')
  body
    include common/navbar
    main.route-content
      block content
    include common/footer